@import "bootstrap";
@import '@fortawesome/fontawesome-free';

.padding-0 {
    padding: 0;
}

.left-position {
    left: -46px;
}

.to-follow-img {
    height: 90px;
    width: 90px;
}


@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
  background: #fff;
  font-family: 'PT Sans', sans-serif;
}
h2{
  padding-top: 1.5rem;
}
a{
  color: #333;
}
a:hover{
  color: #da5767;
  text-decoration: none;
}
.card-sign{
  border: 0.40rem solid #f8f9fa;
  position: relative;
  top: 10%;
}
.form-control{
  background-color: #f8f9fa;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}

.form-control:focus {
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #17a2b8;
    outline: 0;
    box-shadow: none;
}

.btn-sign {
    padding: 0.6rem 1.2rem;
    background: #17a2b8;
    border: 2px solid #17a2b8;
}

.btn-sign:hover {
    background-color: #00ddff;
    border-color: #00ddff;
    transition: .3s;
}
