<% @other_users.each do |user| %>
        <% if !current_user.following?(user) %>
        <div class="bg-light p-1 my-3">
          <div class="">
            <h4 class="text-center d-flex justify-content-between align-items-center">
              <div>
                 <%= profile_image(user, "to-follow-img") %>
                <%= link_to  user.username, user %>
              </div>
              <% if current_user.following?(user) %>
                <%= button_to  friendships_path(user_id: user.id), remote: true, method: :delete, class: "btn btn-danger" do %> 
                  <i class="fas fa-user-times"></i>
                <% end %>
              <% else %>
                <%= button_to  friendships_path(user_id: user.id), remote: true, class: "btn btn-success" do %> 
                  <i class="fas fa-user-plus"></i>
                <% end %>
              <% end %>
            </h4>
          </div>
        </div>
        <% end %>
      <% end %>