<div class="col-md-2 heigh position-sticky text-light" style="
        top: 0;
        height: 100vh;
        background-color: #213346;">
    <div class="row">
        <div class="col-6">Lhoussaine</div>
        <div class="col-6">
            <img src="https://via.placeholder.com/100x70" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">followers</div>
        <div class="col-6 text-center">following</div>
    </div>
    <ul class="list-group">
        <li class="list-group-item border-0 bg-transparent">Dapibus ac facilisis in</li>
        <li class="list-group-item border-0 bg-transparent">A simple primary list group item</li>
        <li class="list-group-item border-0 bg-transparent">A simple secondary list group item</li>
        <li class="list-group-item border-0 bg-transparent">A simple success list group item</li>
        <li class="list-group-item border-0 bg-transparent">A simple danger list group item</li>
        <li class="list-group-item border-0 bg-transparent">A simple warning list group item</li>
        <li class="list-group-item border-0 bg-transparent">A simple info list group item</li>
        <li class="list-group-item border-0 bg-transparent">A simple light list group item</li>
        <li class="list-group-item border-0 bg-transparent">A simple dark list group item</li>
    </ul>
</div>